:root {
  --black: #000000;
  --dark-grey: linear-gradient(#000000,#222222);
  --light-grey: #BFBFBF;
  --white: #FFFFFF;
  --neon-green: #83F52C;
  --Roboto: 'Roboto', sans-serif;
  --Montserrat: 'Montserrat', sans-serif;
  --Raleway: 'Raleway', sans-serif;
  --Ubuntu: 'Ubuntu', sans-serif;
  --Inconsolata: 'Inconsolata', monospace;
  --border: solid 2px #FFFFFF;  
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
